# dev directories
lab/
archive/
images/archive/
.vscode/
.env

# data directories
data/db/
data/vector_db/
data/temp/
*hidden*
backup/
*.bak

# Python bytecode
__pycache__/

# Compiled Python files
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/

# IDE-specific files
.idea/
*.iml
*.ipr
*.iws

# Editor backup files
*~
*.swp
*.swo

# Log files
*.log
.ruff_cache

# Dependency directories
lib/
libs/
dist/
build/
data/test_documents/Aula_Ekstra.txt
Dockerfile
data/test_documents/Barnets lov.docx
Aula/screenshots