[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# vector database tools
chromadb = "*"
langchain = "*"
langchainhub = "*"
langchain-community = "*"

unstructured = "*"
"unstructured[pdf]" = "*"
"unstructured[docx]" = "*"

beautifulsoup4 = "*"
pypdf = "*"
markdown = "*"
sentence-transformers = "*"
# chat and llm
openai = "*"
# ui
streamlit = "*"
streamlit-tags = "*"

[dev-packages]
black = "*"


[requires]
python_version = "3.10"
