[[source]]
url = 'https://pypi.org/simple'
verify_ssl = true
name = 'pypi'

[packages]

# data validation
pydantic = '>=2.5.3,<2.6.0'
'pydantic[email]' = '*'

# vector database tools
chromadb = '>=0.4.0,<0.5.0'
langchain = '>=0.1.0,<0.2.0'
langchainhub = '>=0.1.0,<0.2.0'
langchain-community = '>=0.0.0,<0.1.0'
sentence-transformers = '>=2.2.0,<2.3.0'

# reading text from files and urls
unstructured = '>=0.12.0,<0.13.0'
'unstructured[pdf]' = '*'
'unstructured[docx]' = '*'
'unstructured[md]' = '*'
beautifulsoup4 = '~=4.12'
# pypdf = '*'
# markdown = '*'


# chat and llm
openai = '~=1.7'

# ui
streamlit = '~=1.29'
streamlit-tags = '~=1.2'

[dev-packages]
black = '*'
ruff = '*'
pytest = '*'
# rest api
fastapi = "*"

# testing pdf image reading
# poppler-utils = "*" # for pdfs
pymupdf = "*" # for pdfs
pdf2docx = "*" # for pdfs
mammoth = "*" # for docx

[requires]
python_version = '3.10'
